{% extends 'base.html.twig' %}

{% block title "Enregistrement d'une famille" %}

{% block body %}

{{ form_start(fam) }}


  <div class="container mt-4" >
    <center><h1>Enregistrement d'une famille</h1></center>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                <!-- Permet d'ajouter des nouvelles amilles à la base de données -->
                    <div style="text-align: right;">
                        {{ form_row(fam.ID_Famille)}}<br>
                        {{ form_row(fam.Famille)}}
                    </div>
                </th>
                <th>
                    <br>
                    <button class="btn btn-success">{{ button|default('Nouvelle Famille') }}</button><br><br>
                    <button type="button" class="btn btn-danger"><a href="{{ path('page.enregistrementF') }}"><font color="white">Retour</font></a></button>
                </th>
                <th scope="col">
                    <label> Saisissez le nom de la nouvelle famille</label><br>
                    <label> cliquez sur nouvelle ou sur retour</label>
                </th>
            </tr>
        </thead>
    </table>
    <br>

  </div>

{{ form_end(fam) }}

{% endblock %}
